@model Erp.Models.vechicles

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-"> Register Vehicles</h5>
            </div>
        </div>

        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" placeholder="Enter Model..." />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="vechiclesTypeId" class="control-label">Vechicles Type</label>
                    <select asp-for="vechiclesTypeId" class="form-control" asp-items="ViewBag.vechiclesTypeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PlateNumber" class="control-label">Plate Number</label>
                    <input asp-for="PlateNumber" class="form-control" placeholder="Enter Plate Number..." />
                    <span asp-validation-for="PlateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsInsured" class="control-label"></label>
                    <select asp-for="IsInsured" class="form-control">
                    
                        <option value="true">Insured</option>
                        <option value="false">Not Insured</option>
                    </select>
                    <span asp-validation-for="IsInsured" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="card-footer">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
