@model Erp.Models.ZoneBudget

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ZoneBudget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverheadCosts" class="control-label"></label>
                <input asp-for="OverheadCosts" class="form-control" />
                <span asp-validation-for="OverheadCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeCosts" class="control-label"></label>
                <input asp-for="TimeCosts" class="form-control" />
                <span asp-validation-for="TimeCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalCost" class="control-label"></label>
                <input asp-for="ExternalCost" class="form-control" />
                <span asp-validation-for="ExternalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneTotalCost" class="control-label"></label>
                <input asp-for="ZoneTotalCost" class="form-control" />
                <span asp-validation-for="ZoneTotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZonePlanId" class="control-label"></label>
                <select asp-for="ZonePlanId" class="form-control" asp-items="ViewBag.ZonePlanId"></select>
                <span asp-validation-for="ZonePlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneId" class="control-label"></label>
                <select asp-for="ZoneId" class="form-control" asp-items="ViewBag.ZoneId"></select>
                <span asp-validation-for="ZoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
