@model Erp.Models.Asset

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="card">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-"> Register Assets </h5>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group  p-3 ">
                    <label asp-for="Asset_Name" class="control-label">Asset Name </label>
                    <input asp-for="Asset_Name" class="form-control" placeholder="Enter Asset Name" />
                    <span asp-validation-for="Asset_Name" class="text-danger"></span>
                </div>

                 <div class="form-group  p-3">
                    <label asp-for="SupplierId " class="control-label">Supplier</label>
                    <select asp-for="SupplierId " class="form-control" asp-items="ViewBag.SupplierId"></select>
                </div>
                 <div class="form-group  p-3">
                    <label asp-for=" Asset_typeId" class="control-label">Asset Type</label>
                    <select asp-for=" Asset_typeId" class="form-control" asp-items="ViewBag.Asset_typeId"></select>
                </div>
                <div class="form-group  p-3 ">
                    <label asp-for="factory_number" class="control-label">Factory-Number </label>
                    <input asp-for="factory_number" class="form-control" placeholder="Enter Factory Number" />
                    <span asp-validation-for="factory_number" class="text-danger"></span>
                </div>
                <div class="form-group  p-3 ">
                    <label asp-for="serial_number" class="control-label">Serial-Number </label>
                    <input asp-for="serial_number" class="form-control" placeholder="Enter Serial Number" />
                    <span asp-validation-for="serial_number" class="text-danger"></span>
                </div>
                <div class="form-group  p-3 ">
                    <label asp-for="Price" class="control-label">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Enter Factory Number" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="card-footer bg-white p-2">
                    <div class="row p-0 m-0">
                        <div class="col-2  align-self-end  p-0">
                            <div class="form-group mb-0">
                             
                                <input type="submit" value="Edit" class="btn btn-glow-dark btn-primary ml-4" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

