@model Erp.Models.Tasks

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="card">
        <div class="card">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                Project Task
            </h3>


            @if (Context.User.IsInRole("TeamLeader"))
            {
                <h5 class="table-add float-right m-2"><a asp-action="IndexT" class="text-success "><i class="fas fa-arrow-left fa-1x"></i></a></h5>


                <button type="button" class="btn btn-primary mx-3" data-toggle="modal" data-target="#exampleModalLive">Assign Task</button>
            }
            else if (Context.User.IsInRole("Basic"))
            {
                  <h5 class="table-add float-right m-2"><a asp-action="IndexEmp" class="text-success "><i class="fas fa-arrow-left fa-1x"></i></a></h5>

            }



            <div class="card-body">

                @if (TempData.ContainsKey("Success"))
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Success"]
                    </div>
                }

                @if (TempData.ContainsKey("Warning"))
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Warning"]
                    </div>
                }
                <div id="table" class="table-editable">

                    <form asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <table class="table table-bordered table-responsive-md table-striped text-center" id="demoA">
                            <thead>
                                <tr>
                                    <th class="text-center">Tasks Name</th>
                                    <th class="text-center">Duration</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Task Cost</th>
                                    <th class="text-center">Task Progress</th>
                                    <th class="text-center">Percent(%) Coverage</th>
                                    <th class="text-center">Project</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr class="task-content">

                                    <td class="pt-3-half" contenteditable="true">
                                        <input type="text" asp-for="TaskName" class="form-control" />
                                        <span asp-validation-for="TaskName" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <input type="number" asp-for="Duration" class="form-control" />
                                        <span asp-validation-for="Duration" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <input type="text" asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <input type='number' placeholder='0.00' asp-for="TaskCost" class="form-control" />
                                        <span asp-validation-for="TaskCost" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <input type='number' placeholder='0.00' asp-for="TaskProgress" class="form-control" />
                                        <span asp-validation-for="TaskProgress" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <input type='number' placeholder='12%' asp-for="PercentCoverage" class="form-control" />
                                        <span asp-validation-for="PercentCoverage" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                    </td>
                                    <td class="pt-3-half" contenteditable="true">
                                        <select asp-for="Status" class="form-control">
                                            <option value="null">Not Started</option>
                                            <option value="false">In Progress</option>
                                            <option value="true">Completed</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Assign Task to Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-action="Assign" asp-controller="Tasks" asp-route-id="@Model.Id" method="post">
                <div class="modal-body">
                    <input type="text" name="EmployeeId" placeholder="Enter Employee Id ..." class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Assign</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Editable table -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}