@model Erp.Models.AnnualLossExpectancy

@{
    ViewData["Title"] = "Create";
}

<div class="container px-5">
    <div class="card p-3">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-"> Annual Loss Expectancy  </h5>
            </div>
        </div>

        <form asp-action="Create">
            @if (TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row p-0 m-0">

                    <div class="col-6 p-0">
                        <div class="form-group  p-3">
                            <label>Annual Occurrence</label>
                            <input name="RiskId" class="form-control" placeholder=" Enter the No. Annual Occurrence.." required />
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <div class="form-group  p-3">
                            <label asp-for="ExposureFactor">Exposure Factor</label>
                            <input asp-for="ExposureFactor" class="form-control" placeholder=" Enter Exposure Factor .." required />
                            <span asp-validation-for="ExposureFactor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <div class="form-group  p-3">
                            <label asp-for="Value">Value (birr)</label>
                            <input asp-for="Value" class="form-control" placeholder=" Value .." required />
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>

                </div>


            </div>
            <div class="card-footer bg-white p-2">
                <div class="row p-0 m-0">
                    <div class="col align-self-start pl-3">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-2  align-self-end  p-0">
                        <div class="form-group mb-0">

                            <input type="reset" value="Clear" class="btn btn-glow-dark btn-secondary  mr-3" />
                            <input type="submit" value="Create" class="btn btn-glow-dark btn-primary ml-4" />

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
