@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";


}

<div class="p-0 m-0 text-center">

    <h2>ERP</h2>

        <p class="p-3">
            Please check your email to confirm your account.
        </p>

</div>
