@using Microsoft.AspNetCore.Identity
@inject SignInManager<Erp.Areas.Identity.Data.User> SignInManager
@inject UserManager<Erp.Areas.Identity.Data.User> UserManager



<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="index.html" class="b-brand">
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
            <span class="b-title">ERP</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li>
                <a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()">
                    <i class="feather icon-maximize"></i>
                </a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto">

            @if (SignInManager.IsSignedIn(User))
            {
                @*<li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                            <div class="dropdown-menu dropdown-menu-right notification">
                                <div class="noti-head">
                                    <h6 class="d-inline-block m-b-0">Notifications</h6>
                                    <div class="float-right">
                                        <a href="javascript:" class="m-r-10">mark as read</a>
                                        <a href="javascript:">clear all</a>
                                    </div>
                                </div>
                                <ul class="noti-body">
                                    <li class="n-title">
                                        <p class="m-b-0">NEW</p>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="~/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>New ticket Added</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="n-title">
                                        <p class="m-b-0">EARLIER</p>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="~/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>Prchace New Theme and make payment</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="~/assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>currently login</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="noti-footer">
                                    <a href="javascript:">show all</a>
                                </div>
                            </div>
                        </div>
                    </li>*@
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                @* @{ }
        @if (UserManager. != null)
        {
            <img id="profilePicture" class="avatar" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" style="width: 30px; height: 40px; ">
        }
        else
        {
            <img id="profilePicture" class="avatar" src="~/assets/images/user/avatar-1.jpg">

            <span>Hello @User.Identity.Name</span>
        }*@

                                <span>Hello </span> <span style="color:yellow;"><i class="fas fa-smile fa-fw fa-1x"></i>  </span> @User.Identity.Name
                            </div>
                            <ul class="pro-body">
                                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Profile</span></a>
                                </li>
                                <li>
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <a class="dropdown-item">
                                            <button type="submit" class="dropdown-item p-0"><i class="feather icon-log-out fa-fw"></i>Logout</button>
                                        </a>
                                    </form>
                                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</header>