@model Erp.Models.AllowancePolicy

@{
    ViewData["Title"] = "Edit";
}

<div class="container px-5">
    <div class="card p-3">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-"> Update Allowance Policy  </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="pl-3 mx-auto">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Allowance Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Allowance Name ... " />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Allowance Type</label>
                        <input asp-for="Type" class="form-control" placeholder="Enter Allowance Type ... " />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Allowance Amount</label>
                        <input asp-for="Amount" class="form-control" placeholder="Enter Allowance Amount ... " />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="card-footer">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
