@model Erp.Models.Division

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-"> Register Divison</h5>
            </div>
        </div>


        <form asp-action="Create">
            <div class="card-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"> Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter  Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OfficeNumber  " class="control-label"> Office Number </label>
                    <textarea asp-for="OfficeNumber " class="form-control" rows="3" placeholder="Enter  Summary "></textarea>
                    <span asp-validation-for="OfficeNumber " class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"> Summary</label>
                    <textarea asp-for="Summary" class="form-control" rows="3" placeholder="Enter  Summary "></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>

            </div>

            <div class="card-footer bg-white p-2">
                <div class="row p-0 m-0">
                    <div class="col align-self-start pl-3">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-2  align-self-end  p-0">
                        <div class="form-group mb-0">
                            <input type="reset" value="Clear" class="btn btn-glow-dark btn-secondary  mr-3" />
                            <input type="submit" value="Create" class="btn btn-glow-dark btn-primary ml-4" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
