@model IEnumerable<Erp.Models.Unit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/daypilot/daypilot-all.min.js" asp-append-version="true"></script>

<div id="dp"></div>

<script>

    const dp = new DayPilot.Month("dp");
    dp.init();

</script>
<script>

    const dp = new DayPilot.Month("dp");
    // ... configuration
    dp.init();

    dp.events.load("/api/events");

</script>