@model Erp.Models.DirectorPlan

@{
    ViewData["Title"] = "Create";
}

<div class="container px-5">
<div class="container px-5">
    <div class="card p-3">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-">Director Plan</h5>
            </div>
        </div>

        <form asp-action="Create">
            @if (TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row p-0 m-0">
                <div class="col-6 p-0">
                    <div class="form-group  p-3">
                        <label asp-for="Name">Plan Title</label>
                        <input asp-for="Name" class="form-control" placeholder=" Enter Plan Title .." required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-6 p-0">
                    <div class="form-group  p-3">
                        <label asp-for="FiscalYear">Fiscal Year</label>
                        <input asp-for="FiscalYear" class="form-control" placeholder=" Enter Fiscal Year .." required />
                        <span asp-validation-for="FiscalYear" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <div class="form-group  p-3">
                        <label asp-for="Period">Period (Month)</label>
                        <input asp-for="Period" class="form-control" placeholder=" Enter how to it will stay.." required />
                        <span asp-validation-for="Period" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <div class="form-group  p-3">
                        <label asp-for="ProjectNumber">Useful Life Time</label>
                        <input asp-for="ProjectNumber" class="form-control" placeholder=" Enter Useful Life Time .." required />
                        <span asp-validation-for="ProjectNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <div class="form-group  p-3">
                        <label asp-for="OperationExpense">Useful Life Time</label>
                        <input asp-for="OperationExpense" class="form-control" placeholder=" Enter Useful Life Time .." required />
                        <span asp-validation-for="OperationExpense" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group p-3">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control ckeditor"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>
           

        </div>
            <div class="card-footer bg-white p-2">
                <div class="row p-0 m-0">
                    <div class="col align-self-start pl-3">
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-2  align-self-end  p-0">
                        <div class="form-group mb-0">

                            <input type="reset" value="Clear" class="btn btn-glow-dark btn-secondary  mr-3" />
                            <input type="submit" value="Create" class="btn btn-glow-dark btn-primary ml-4" />

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





