@model Erp.Models.AuctionMember

@{
    ViewData["Title"] = "Edit";
}

<div class="container px-5">
    <div class="card p-3">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-">Update Auction Application</h5>
            </div>
        </div>
        @if (TempData.ContainsKey("Error"))
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AuctionNumber" class="control-label">Auction Number</label>
                            <input name="AuctionNumber" asp-for="AuctionNumber" class="form-control" placeholder="Enter Auction Number" />
                            <span asp-validation-for="AuctionNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyName" class="control-label">Company Name</label>
                            <input asp-for="CompanyName" class="form-control" placeholder="Enter Company Name" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TinNumber" class="control-label">Tin Number</label>
                            <input asp-for="TinNumber" class="form-control" placeholder="Enter Tin Number..." />
                            <span asp-validation-for="TinNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h4 class="p-3 bg-secondary text-white"> <b>Description</b> </h4>
                            <textarea asp-for="Description" class="form-control ckeditor" required></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" placeholder="Enter Quantity" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" placeholder="Enter Price" required />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h4 class="p-3 bg-secondary text-white"> <b>Specification</b> </h4>
                            <textarea asp-for="Specification" class="form-control ckeditor" required></textarea>
                            <span asp-validation-for="Specification" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
