@model Erp.Models.Attendances
@{
    ViewData["Title"] = "Edit";
}

<div class="container px-5">
    <div class="card p-3">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-">Attendance</h5>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <table class="table table-responsive-md table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th rowspan="2"># ID</th>
                            <th rowspan="2">Date</th>
                            <th colspan="2" class="text-black text-center">Morning</th>
                            <th colspan="2" class="text-black text-center">Afternoon</th>

                        </tr>
                        <tr>
                            <th>
                                Check In
                            </th>
                            <th>
                                Check Out
                            </th>
                            <th>
                                Check In
                            </th>
                            <th>
                                Check Out
                            </th>

                        </tr>

                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                @Model.Employee.EmployeeCode
                            </td>
                            <td>
                                @Model.Date.ToString("dd MMM, yyyy")
                            </td>
                            <td>

                                <input asp-for="MorningCheckin" class="form-control" required />
                                <span asp-validation-for="MorningCheckin" class="text-danger"></span>
                            </td>
                            <td>

                                <input asp-for="MorningCheckout" class="form-control" />
                                <span asp-validation-for="MorningCheckout" class="text-danger"></span>
                            </td>
                            <td>

                                <input asp-for="AfternoonCheckin" class="form-control" />
                                <span asp-validation-for="AfternoonCheckin" class="text-danger"></span>
                            </td>
                            <td>

                                <input asp-for="AfternoonCheckout" class="form-control" />
                                <span asp-validation-for="AfternoonCheckout" class="text-danger"></span>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div class="card-footer bg-white p-2">
                    <div class="row p-0 m-0">
                        <div class="col align-self-start pl-3">
                            <a asp-controller="AttendanceSupExcuses" asp-action="IndexTeam">Back to List</a>
                        </div>
                        <div class="col-2  align-self-end  p-0">
                            <div class="form-group mb-0">
                                <input type="submit" value="Save" class="btn btn-glow-dark btn-primary ml-4" />

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
           

       
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
